body {
  display: flex;
  justify-content: start;
  align-items: center;
  /* flex-direction: column; */
  /* background-color: black; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
header {
  /* background-color: violet; */
  background: linear-gradient(
    to bottom,
    rgb(97, 139, 183),
    rgb(130, 102, 140),
    rgb(230, 169, 122),
    rgb(255, 106, 47)
  );
  border: 3px solid greenyellow;
  color: white;
  height: 60vh;
  border-radius: 10px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  width: 40%;
  position: relative;
  
  opacity: 0.9;
}
#input-section {
  width: 80%;
  position: relative;
  display: flex;
  justify-content: center;
}
#temp {
  font-size: 42px;
  letter-spacing: 2px;
  margin-left: 20px;
}
input {
  height: 30px;
  background-color: transparent;
  border: 1px solid;
  border-radius: 10px;
  margin-top: 10px;
  padding: 4px;
  border: 3px solid;
}
#btn {
  height: 5vh;
  margin-top: 12px;
  margin-left: 5px;
  border-radius: 5px;
  position: absolute;
  right: 10px;
}

h4 {
  margin-top: 8px;
}
h3 {
  color: black;
  margin-bottom: 8px;
  margin-top: 0px;
  font-weight: bold;
}
#back {
  box-shadow: 0px 0px 5px 2px;
  height: 34%;
  width: 30%;
  padding: 20px;
  border: 3px solid;
}

img {
  width: 45%;
  height: 51%;
  bottom: 128px;
  border: none;
  position: absolute;
  left: 127px;
}
#cloudy {
  text-align: center;
}

/* js classes */
/* Clear */
.clear {
  background-color: rgb(149, 211, 228); /* Sky Blue */
  transition: all 0.4s ease-in-out;
}

/* Clouds */
.cloud {
  background: rgb(230, 227, 215);
  transition: all 0.4s ease-in-out;
}

/* Rain */
.rain {
  background-color: rgb(100, 149, 237);
  transition: all 0.4s ease-in-out;
}

/* Drizzle */
.drizzle {
  background-color: rgb(176, 224, 230);
}

/* Thunderstorm */
.thunderstorm {
  background-color: rgb(72, 61, 139);
}

/* Snow */
.snow {
  background-color: rgb(240, 248, 255);
}

/* Mist */
.mist {
  background-color: rgb(211, 211, 211);
}

/* Smoke */
.smoke {
  background-color: rgb(105, 105, 105);
}

/* Haze */
.haze {
  background-color: rgb(192, 192, 192);
}

/* Fog */
.fog {
  background-color: rgb(169, 169, 169);
}

/* Sand */
.sand {
  background-color: rgb(222, 184, 135);
}

/* Dust */
.dust {
  border: 3px solid;

  background-color: rgb(210, 180, 140);
}

/* Ash */
.ash {
  background-color: rgb(119, 136, 153);
  border: 3px solid greenyellow;
}

/* Squall */
.squall {
  background-color: rgb(47, 79, 79);
  border: 3px solid greenyellow;
}

/* Tornado */
.tornado {
  background-color: rgb(70, 70, 70);
  border: 3px solid greenyellow;
}
